
/* Google fonts import  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581;  /*light brown */
    --highlight-color: #416a8e;  /* blue ocean  */
    --highlight-color-light: #7a9fc2;  /* light blue  */
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase; 
}

.sub-heading-color {
    color: var(--highlight-color);
}

h2 {
    margin-bottom: 2rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Grid visualisation CSS for test  */
/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}  */

/* Navbar  */
.navbar {
    background-color: var(--primary-color);
}  

#navbar .logo {
    width: 30px;
}

/* header */

#header .lead {
    font-family: var(--secondary-font);
}


/* services */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* Game library cards */

#new-games .card,
#fav-games .card {
    border: none;
}

/* Footer / contact */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

.opening {
    font-family: var(--secondary-font);
    font-size: 28px;
}

/* medium devices (tablets, 760px and up) */
@media screen and (min-width: 760px) {
    /* make all card the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

@media screen and (min-width: 992px) {
    /* make all card the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

@media screen and (min-width: 1200px) {
    /* make all card the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }

    #new-games .card-body {
        min-height: 240px;
        margin-bottom: 0.2rem;
    }

    #fav-games .card-body {
        min-height: 314px;
        margin-bottom: 0.1rem;
    }
}

@media screen and (min-width: 1400px) {
    /* make all card the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }

    #new-games .card-body {
        min-height: 245px;
        margin-bottom: 0.2rem;
    }

    #fav-games .card-body {
        min-height: 270px;
        margin-bottom: 0.1rem;
    }
}